body {   
      color:  #cbf0ac;   
      background-color: #000000;   
      font-family: 'digital-7', sans-serif;
}

header {
  width: 300px;
  /*border: 15px solid green;*/
  padding: 50px;
  margin: 20px;
  text-align: center;
}


h1 {
    font-size: 100px;
    position: absolute;  
    z-index: 700;
    margin: 90px;
        
}